.contact-form{
    width:100%;
    margin-top:20px;

    ul{
        padding:0;
        margin:0;

        li{
            padding:0;
            margin:0;
            list-style: none;
            margin-bottom:10px;
            overflow: hidden;
            display:block;
            position:relative;
            opacity:0;
            animation:fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear:both;
        }
        li.half{
            width:49%;
            margin-left:2%;
            float: left;
            clear:none;
            
            &:first-child{
                margin-left:0;
            }
        }
    }
    input[type='text'],
    input[type='email']{
        width:100%;
        border:0;
        background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
        height: 50px;
        font-size:16px;
        color:#fff;
        padding: 0 20px;
        box-sizing: border-box;
    }
    textarea{
        width:100%;
        border:0;
        background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
        height: 50px;
        font-size:16px;
        color:#fff;
        padding:20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    .flat-button{
        color:#ffd700;
        background:0 0;
        font:11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid #ffd700;
        float:right;
        border-radius: 4px;
    }
}

.container.contact-page {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.contact-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.text-zone {
  flex: 0 0 55%;
  max-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1px;
}

.contact-social {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 600px;
  height: 90%;

  .linkedin-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #0e76a8;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      text-decoration: underline;
      color: #084c7a;
    }

    svg {
      font-size: 40rem;
    }
  }
}
